<div class="well">
	<div class="container">
		<h2>What is Neural Artistic Style?</h2>
		<hr>  
 		<p>The exact name of Neural Artistic Style is <a href=http://arxiv.org/abs/1508.06576> A Neural Algorithm of Artistic Style</a>.
 		and it is A method to transfer the style of one image to the subject of another image. Details of this method, please refer to the paper that linked before.
 		<br>This web page provides a demonstration that apply the style of famous painters in your image. and Show performance comparison CPU vs GPU at KETI System</p>
	</div>	
</div>
