<div class="well">
	<div class="container">
	<h2> A Neural Algorithm of Artistic Style Example</h2>
	<hr>
 	<div class="row">
 		<div class="col-md-4">
 			 <img src="/media/example/basic/img13.jpg" class="img-thumbnail" alt="Subject Image" style="width:350px;height:250px">
 		 	<p class="text-center"> Subject Image </p> 		
 		</div>
 		<div class="col-md-4">
 			 <img src="/media/example/basic/starry_night.jpg" class="img-thumbnail" alt="Style Image" style="width:350px;height:250px">
 		 	<p class="text-center"> Style Image </p> 		
 		</div>
 		<div class="col-md-4">
 			<video width="350" height="250" controls autoplay loop>
 		 		<source src="/media/example/video/conversedvideo.mp4" type="video/mp4" ></source>
 		 	</video>	 
 		 	<p class="text-center"> Output Image </p>		
 		</div>
 	</div>
 	<div class="row">
 		<div class="col-md-4">
 			 <img src="/media/example/basic/seoul-06.jpg" class="img-thumbnail" alt="Subject Image" style="width:350px;height:250px">
 		 	<p class="text-center"> Subject Image </p> 		
 		</div>
 		<div class="col-md-4">
 			 <img src="/media/example/basic/starry_night.jpg" class="img-thumbnail" alt="Style Image" style="width:350px;height:250px">
 		 	<p class="text-center"> Style Image </p> 		
 		</div>
 		<div class="col-md-4">
 			<video width="350" height="250" controls autoplay loop>
 		 		<source src="/media/example/video/conversedvideo1.mp4" type="video/mp4"></source>
 		 	</video>	 
 		 	<p class="text-center"> Output Image </p>		
 		</div>
 	</div>
 	</div>
 </div>