{% include 'layout/header.html' %}
<div class="well">
	<div class="container">
		<h2>Select Style</h2>
		<hr>  
	</div>	
</div>
	{% if style_list %}
		<div class="container">
			{% for style in style_list %}
				<a href="{{style.stylefile.url}}">
				 	<img src="{{style.stylefile.url}}" class="img-thumbnail" alt="Style Image" style="width:150px;height:150px>
				 	<!--  style="width:350px;height:350px" -->
				</a>
			{% endfor %}
		</div>
	{% else %}
	{% endif %}
		
{% include 'layout/footer.html' %}